<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= homeContent %></p>


<% Newposts.forEach(function(post) { %>
<div class="">
    <h1><%= post.title %></h1>
    <p><%= post.Body.substring(1,100)+" ..." %>
        <a href="/posts/<%= post._id %>">Read more</a>
    </p>
</div>
<% }) %>


<%- include("partials/footer") -%>